@font-face {
	font-family: "Nicomoji";
	src: url(font/nicomoji.ttf);
}



/* 変数　*/



:root {
  --fcol: #222222;
  --color: #FFAA00;
  --subcolor: #330000;
}



/* アニメーション */



@keyframes bgani {
  0%{
    background-position: 0px;
  }
  100%{
		background-position: -100px;
  }
}



/* ルート */



* {
  font-family: "Poppins", 'M PLUS 1', sans-serif;
  font-weight: 300;
  color: var(--fcol);
}

html, body, .wrapper, .display {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

.wrapper {
	background-color: #ffffff;
	background-size: 200%;
  background-image: repeating-linear-gradient(-45deg, #fafafa, #fafafa 36px,transparent 0, transparent 72px);
	animation-name: bgani;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  color: var(--subcolor);
}



/* flex */



.cFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.display > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}



/* トランジション */



.transitionPanels {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 334
}
.transitionPanel {
  display: block;
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: white;
}

.movefrom {
  animation-name: movefrom;
  animation-duration: .4s;
  right: 0;
}
@keyframes movefrom {
  0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

.backfrom {
  animation-name: backfrom;
  animation-duration: .4s;
  left: 0;
}
@keyframes backfrom {
  0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

.moveto {
  animation-name: moveto;
  animation-duration: .4s;
  left: 0;
}
@keyframes moveto {
  0% {
		width: 100%;
	}
	100% {
    width: 0;
	}
}

.backto {
  animation-name: backto;
  animation-duration: .4s;
  right: 0;
}
@keyframes backto {
  0% {
		width: 100%;
	}
	100% {
    width: 0;
	}
}



/* 共用 */



.copyright {
  margin-top: 3rem;
}
.copyright span {
  font-size: 1.5rem;
  opacity: .6;
}

.blue-button {
  width: 30rem;
  height: 6rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  border: none;
  border-radius: 3rem;
  background: rgba(51, 158, 255, .1);
  text-align: center;
  font-size: 3rem;
  color: #339eff;
  cursor: pointer;
  transition: .2s;
  white-space: nowrap;
}
.blue-button:active {
  background: rgba(51, 158, 255, .2);
}



/* Welcome */



.welcome .logo {
  min-height: 16rem;
}
.welcome .logo img {
  width: 70%;
  max-width: 40rem;
}

.login {
  flex-shrink: 0;
}

.login .info {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  opacity: .8;
}
.login .infoo {
  margin-top: 1rem;
  font-size: 2rem;
}

.login select {
	appearance: none;
  width: 30rem;
  height: 20rem;
  background: rgba(0, 0, 0, .04);
  border-radius: 3rem;
  border: none;
  outline: none;
  font-size: 12rem;
  text-align: center;
  cursor: pointer;
}



/* 待機画面 */



.waitroom {
  display: none;
}

.waitroom .logo {
  min-height: 16rem;
  margin-bottom: 4rem;
}
.waitroom .logo img {
  width: 70%;
  max-width: 40rem;
}

.whitebg {
  width: 90%;
  border-radius: 4rem;
	background: rgba(0, 0, 0, .05);
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.whitebg .sinfo {
  font-size: 3rem;
}
.whitebg .wscore {
  font-size: 12rem;
}
.whitebg .plzwait {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.whitebg .plzwaitntc {
  font-size: 2rem;
  margin-bottom: 4rem;
}



/* 開始画面 */



.startview {
  display: none;
}

.startview .bigtitle {
  font-size: 20rem;
  font-weight: 400;
}



/* ベット画面 */



.voteview {
  display: none;
}

.questInfo {
  padding: 4rem 0;
}
.tQnum {
  font-size: 48px;
}
.tQuest {
  font-size: 72px;
	font-family: "Nicomoji", sans-serif;
  text-align: center;
}

.voteview .tSubtitle {
  margin-top: 24px;
  margin-bottom: 12px;
  transform: translateX(calc(-50vw + 50% + 36px));
  font-size: 36px;
	color: white;
}
.voteview .tSmallInfo {
  font-size: 24px;
}

.voteview .tRadioForm {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.voteview .optContainer {
  overflow-y: scroll;
}
.voteview input[type=radio] {
  display: none;
}
.voteview input[type="radio"]:checked + .optionLabel {
  border: none;
  background: rgba(255, 255, 255, .2);
  font-size: 54px;
  font-weight: 400;
  color: white;
  opacity: 1;
}
.voteview .optionLabel {
  position: relative;
  display: block;
  width: calc(100vw - 48px);
  height: 120px;
  margin: 8px;
  border-radius: 60px;
  border: 1px solid white;
  box-sizing: border-box;
  background: none;
  text-align: center;
  line-height: 120px;
  font-size: 48px;
  font-weight: 200;
  color: white;
  opacity: .6;
  transition: .2s;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}
.optionLabel .tOptName {
  position: absolute;
  left: 24px;
  width: calc(100% - 180px - 24px);
  text-align: center;
}
.optionLabel .tOptMag {
  position: absolute;
  left: calc(100% - 180px);
}

.voteview .tAmountForm {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tAmountForm input[type=number] {
  -webkit-appearance: none;
  appearance: none;
}
.tAmountForm input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  width: calc(100% - 96px);
  height: 12px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}
.tAmountForm input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}
.tAmountForm .tBetVal {
  color: white;
  font-size: 120px;
}

.voteview .infopanelbtm {
  position: absolute;
  bottom: 24px;
  width: calc(100% - 48px);
  height: 20%;
  border-radius: 64px;
	background: white;
	box-shadow: 2px 2px 8px rgba(0,0,0,.4), -2px -2px 8px rgba(255,255,255,.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.infopanelbtm .score {
  width: 60%;
  height: 100%;
  padding-left: 36px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.infopanelbtm .tScoreInfo {
  display: block;
  font-size: 36px;
  margin-bottom: 16px;
  color: var(--subcolor);
}
.infopanelbtm .tScoreVal {
  margin-left: 48px;
  margin-bottom: 36px;
  font-size: 128px;
  line-height: 96px;
}
.infopanelbtm .timer {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--subcolor);
}
.infopanelbtm .timerFrame {
  transform: translateY(12px);
  width: 240px;
  height: 240px;
  border-radius: 120px;
  border: 8px solid var(--subcolor);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.infopanelbtm .timerFrame::before {
  position: absolute;
  top: calc(50% - 120px - 24px + 2px);
  content: "";
  width: 48px;
  height: 24px;
  border-radius: 12px;
  background: var(--subcolor);
}
.infopanelbtm .tTimerInfo {
  display: block;
  font-size: 24px;
}
.infopanelbtm .tTimerVal {
  display: block;
  font-size: 72px;
  margin-bottom: 24px;
}



.timeisup {
  display: none;
}

.timeisup .bigtitle {
	font-family: "Nicomoji", sans-serif;
  font-size: 200px;
  font-weight: 400;
  color: white;
}

.timeisup .subtitle {
	margin-top: 36px;
  font-size: 36px;
  color: white;
}



.resultview {
  display: none;
  width: 100%;
  height: 100%;
}

.tResult {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.resultview .questInfo {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.resultview .tQnum {
  font-size: 48px;
}
.resultview .tQuest {
  font-size: 72px;
	font-family: "Nicomoji", sans-serif;
  text-align: center;
}

.resultview .taPanel {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.resultview .tCalc {
	margin-top: 24px;
	height: calc(60% - 369px - 72px);
	overflow-y: scroll;
}
.resultview .tSubtitle {
  margin-top: 24px;
  margin-bottom: 12px;
  transform: translateX(calc(-50vw + 50% + 36px));
  font-size: 48px;
	color: white;
}
.resultview .answerBox {
	width: calc(100% - 96px);
	padding: 16px;
	border-radius: 48px;
	background: white;
	box-shadow: 2px 2px 8px rgba(0,0,0,.4), -2px -2px 8px rgba(255,255,255,.4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.answerBox * {
	width: 100%;
}
.answerBox .taCateam {
	font-size: 36px;
	text-align: right;
}
.answerBox .taTitle {
	font-size: 72px;
	font-weight: 500;
	text-align: center;
}
.answerBox .taMagnif {
	font-size: 36px;
	text-align: center;
}

.resultview .correct {
	width: calc(100% - 64px);
	color: rgba(255,255,255,.6);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.resultview .tasBox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.resultview .tasAmount {
	width: 55%;
}
.resultview .tasMagnif {
	width: 25%;
}
.resultview .tasOpera {
	align-items: center;
  justify-content: flex-end;
	width: 10%;
}

.tasBox .tasBoxInfo {
	font-size: 28px;
}
.tasBox .tasBoxValue {
	width: 100%;
	height: 120px;
	text-align: center;
	border-radius: 16px;
	border: 2px solid rgba(255,255,255,.6);
	font-size: 96px;
	line-height: 120px;
}
.tasBox .tasBoxOpera {
	height: 124px;
	margin-top: 38px;
	text-align: center;
	font-size: 96px;
	font-weight: 100;
}
.resultview .taRank {
  margin-top: 24px;
  margin-bottom: 12px;
	text-align: right;
	width: calc(100% - 64px);
  font-size: 48px;
	color: white;
}
.resultview .tqInfo {
  font-size: 36px;
	color: white;
	text-align: center;
}

.getScore {
	width: calc(100% - 64px);
	color: white;
  display: flex;
  justify-content: center;
	align-items: center;
  flex-direction: column;
}
.getScore .tasBoxInfo {
	font-size: 36px;
}
.getScore .tasBoxValue {
	width: 100%;
	height: 168px;
	text-align: center;
	border-radius: 32px;
	border: 2px solid rgba(255,255,255,.6);
	font-size: 144px;
	line-height: 172px;
	color: white;
}
.resultview .tainfopanelbtm {
  position: absolute;
  bottom: 24px;
  width: calc(100% - 48px);
  height: 20%;
  border-radius: 64px;
	background: white;
	box-shadow: 2px 2px 8px rgba(0,0,0,.4), -2px -2px 8px rgba(255,255,255,.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tainfopanelbtm .tascore {
  width: 60%;
  height: 100%;
  padding-left: 36px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.tainfopanelbtm .tatScoreInfo {
	width: 100%;
	text-align: left;
  display: block;
  font-size: 36px;
  margin-bottom: 16px;
  color: var(--subcolor);
}
.tainfopanelbtm .tatScoreVal {
	width: 100%;
	text-align: center;
  margin-bottom: 36px;
  font-size: 128px;
  line-height: 96px;
}

.tasBalloon {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.taBalloon {
	position: relative;
  display: inline-block;
  padding: 0 5px;
  width: 156px;
  height: 156px;
  line-height: 156px;
  text-align: center;
  color: #FFF;
  font-size: 32px;
  font-weight: bold;
  background: var(--subcolor);
  border-radius: 50%;
  box-sizing: border-box;
}
.taBalloon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  margin-top: -25px;
  border: 25px solid transparent;
  border-right: 25px solid var(--subcolor);
  z-index: 0;
}



.finalview {
	font-family: sans-serif;
  display: none;
	justify-content: flex-start;
}
.finalview .fPodiumBox {
	width: 100%;
	height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.finalview .fTitle {
	font-size: 96px;
	font-weight: 500;
	font-family: "Nicomoji", sans-serif;
	color: white;
}
.finalview .fSubTitle {
	font-size: 36px;
	color: white;
}
.finalview .fPodiumTitle {
	height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
	flex-direction: column;
}
.finalview .fPodium {
	width: 100%;
	height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.fPodium .fpSingle {
	position: relative;
	width: 33%;
	background: rgba(255, 255, 255, .3);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.fPodium .fpSt {
	width: 34%;
	height: 70%;
	box-shadow: 0 32px 32px rgba(0,0,0,0.3);
}
.fPodium .fpNd {
	height: 55%;
}
.fPodium .fpRd {
	height: 40%;
}

.fpSt .fpTeamname {
	top: -204px;
	font-size: 168px;
}
.fpNd .fpTeamname, .fpRd .fpTeamname {
	top: -160px;
	font-size: 128px;
}
.fpSingle .fpTeamname {
	position: absolute;
	color: white;
}

.fpSingle .fpScore {
	margin-top: 16px;
	font-size: 54px;
}

.fpSt .fpPlace {
	background-image: linear-gradient(-15deg, #ffd261 50%, #ffe6a6 50%);
	box-shadow: 0 8px 24px rgb(255, 238, 194);
}
.fpNd .fpPlace {
	background-image: linear-gradient(-15deg, #c7c7c7 50%, #e4e0e0 50%);
	box-shadow: 0 8px 24px rgb(228, 224, 224);
}
.fpRd .fpPlace {
	background-image: linear-gradient(-15deg, #ffa97e 50%, #ffc5a8 50%);
	box-shadow: 0 8px 24px rgb(255, 213, 191);
}
.fpSingle .fpPlace {
	margin-top: 16px;
	font-size: 48px;
	line-height: 60px;
	width: 144px;
	text-align: center;
	border-radius: 36px;
}

.finalview .fFinalScore {
	position: relative;
	width: 100%;
	height: 25%;
	background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
	overflow-y: scroll;
}
.fFinalScore .tRank {
	font-size: 48px;
}
.fFinalScore .tRankBig {
	margin: 0 16px;
	font-size: 96px;
	line-height: 96px;
}
.fFinalScore .tScoreInfo {
	font-size: 36px;
}
.fFinalScore .tScore {
	font-size: 144px;
	font-weight: 400;
	line-height: 128px;
	padding: 16px 10%;
	border-radius: 32px;
	border: 2px solid var(--subcolor);
}

.finalview .fTotalScore {
	width: 100%;
	height: 25%;
	background: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
	color: white;
}
.fTotalScore .fsbBox {
	width: 50%;
	height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fTotalScore .fScoreBox {
	width: 100%;
	height: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fScoreBox>* {
	width: 100%;
}
.fScoreBox .fScoreInfo {
	font-size: 36px;
	padding-left: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.fScoreBox .fScore {
	width: 90%;
	text-align: center;
	font-size: 96px;
	line-height: 96px;
	padding: 8px 0;
	border-radius: 32px;
	border: 2px solid white;
}
.ttScore {
	font-weight: 500;
}

.fTotalScore .tyfp {
	width: 50%;
	height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tyLogo {
	width: 80%;
	max-height: 50%;
}
.tySpan {
	margin-top: 24px;
	font-size: 32px;
}
