@font-face {
	font-family: "Nicomoji";
	src: url(font/nicomoji.ttf);
}



/* 変数　*/



:root {
  --fcol: #222222;
}



/* アニメーション */



@keyframes bgani {
  0%{
    background-position: 0px;
  }
  100%{
		background-position: -100px;
  }
}



/* ルート */



* {
  font-family: "Poppins", 'M PLUS 1', sans-serif;
  font-weight: 300;
  color: var(--fcol);
}

html, body, .wrapper, .display {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  overflow: hidden;
}

.wrapper {
	background-color: #ffffff;
	background-size: 200%;
  background-image: repeating-linear-gradient(-45deg, #fafafa, #fafafa 36px,transparent 0, transparent 72px);
	animation-name: bgani;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  color: var(--subcolor);
}



/* flex */



.cFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.display > div, .display > form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}



/* トランジション */



.transitionPanels {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 334
}
.transitionPanel {
  display: block;
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: white;
}

.movefrom {
  animation-name: movefrom;
  animation-duration: .4s;
  right: 0;
}
@keyframes movefrom {
  0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

.backfrom {
  animation-name: backfrom;
  animation-duration: .4s;
  left: 0;
}
@keyframes backfrom {
  0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

.moveto {
  animation-name: moveto;
  animation-duration: .4s;
  left: 0;
}
@keyframes moveto {
  0% {
		width: 100%;
	}
	100% {
    width: 0;
	}
}

.backto {
  animation-name: backto;
  animation-duration: .4s;
  right: 0;
}
@keyframes backto {
  0% {
		width: 100%;
	}
	100% {
    width: 0;
	}
}



/* 共用 */



.copyright {
  margin-top: 3rem;
}
.copyright span {
  font-size: 1.5rem;
  opacity: .6;
}

.blue-button {
  width: 30rem;
  height: 6rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  border: none;
  border-radius: 3rem;
  background: rgba(51, 158, 255, .1);
  text-align: center;
  font-size: 3rem;
  color: #339eff;
  cursor: pointer;
  transition: .2s;
  white-space: nowrap;
}
.blue-button:active {
  background: rgba(51, 158, 255, .2);
}

/* 問題文等 */
.display .questInfo {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.display .questInfo span{
  display: block;
}

.display .tQnum {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.display .tQuest {
  min-height: 8rem;
  padding: 0 4rem;
  line-height: 4.2rem;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
}

/* 標準テキスト */
.display .tSubtitle {
  margin-top: 2rem;
  font-size: 3rem;
}



/* Welcome */



.welcome .logo {
  min-height: 16rem;
}
.welcome .logo img {
  width: 70%;
  max-width: 40rem;
}

.login {
  flex-shrink: 0;
}

.login .info {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  opacity: .8;
}
.login .infoo {
  margin-top: 1rem;
  font-size: 2rem;
}

.login select {
	appearance: none;
  width: 30rem;
  height: 20rem;
  background: rgba(0, 0, 0, .04);
  border-radius: 3rem;
  border: none;
  outline: none;
  font-size: 12rem;
  text-align: center;
  cursor: pointer;
}



/* 待機画面 */



.waitroom {
  display: none;
}

.waitroom .logo {
  min-height: 16rem;
  margin-bottom: 4rem;
}
.waitroom .logo img {
  width: 70%;
  max-width: 40rem;
}

.whitebg {
  width: 90%;
  border-radius: 4rem;
	background: rgba(0, 0, 0, .05);
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.whitebg .sinfo {
  font-size: 3rem;
}
.whitebg .wscore {
  font-size: 12rem;
}
.whitebg .plzwait {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.whitebg .plzwaitntc {
  font-size: 2rem;
  margin-bottom: 4rem;
}



/* 開始画面 */



.startview {
  display: none;
}

.startview .bigtitle {
  font-size: 20rem;
  font-weight: 400;
}



/* ベット画面 */



.voteview {
  display: none;
}
.voteview > div {
  flex-shrink: 0;
}

/* 選択肢 */
.tRadioForm {
  flex-shrink: 100;
}

.formOuter {
  width: 100%;
  
  overflow-y: scroll;
}

#optContainer {
  justify-content: flex-start;
}
.optContainer {
  min-height: 8rem;
  overflow-y: auto;
}
.optionLabel {
  display: flex;
  width: 90%;
  height: 8rem;
  margin: .5rem;
  border-radius: 4rem;
  border: 2px solid rgba(51, 158, 255, .2);
  box-sizing: border-box;
  background: rgba(51, 158, 255, .05);
  text-align: center;
  line-height: 8rem;
  font-size: 3rem;
  opacity: .6;
  transition: .1s;
}
.optContainer span {
  font-weight: 400;
}
.optContainer input[type="radio"] {
  display: none;
}
.optContainer input[type="radio"]:checked + .optionLabel {
  transform: scale(1.05);
}
.optContainer input[type="radio"]:checked + .optionLabel, #correctAns {
  border: none;
  background: rgba(51, 158, 255, .4);
  opacity: 1;
}

.optionLabel .tOptName {
  flex-grow: 2;
  text-align: center;
}
.optionLabel .tOptMag {
  min-width: 16rem;
}

/* ベット額指定 */
.tAmountForm {
  margin-bottom: 6rem;
}

.tAmountForm input[type=number] {
  -webkit-appearance: none;
  appearance: none;
}
.tAmountForm input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  width: 90%;
  height: 1rem;
  background: rgba(51, 158, 255, .2);
  border-radius: 1rem;
}
.tAmountForm input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: rgba(51, 158, 255, 1);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transition: .2s;
}
.tAmountForm input[type=range]:hover::-webkit-slider-thumb {
  transform: scale(1.2);
}

.tAmountForm .tBetVal {
  font-size: 8rem;
}
.tAmountForm .ownScoreVal {
  font-size: 4rem;
}

/* タイマー等補足情報 */
#timerWrapper {
  position: fixed;
  width: auto;
  top: 2rem;
  right: 4rem;
}
.tTimerVal {
  font-size: 3rem;
  font-weight: 500;
  color: #339eff;
}



/* タイムアップ遷移画面 */



.timeisup {
  display: none;
}

.timeisup .bigtitle {
  font-size: 12rem;
}
.timeisup .subtitle {
	margin-top: 2rem;
  font-size: 2rem;
}



/* 結果表示 */



.resultview {
  display: none;
}

.taPanel {
  margin-top: 2rem;
}

.tCaOuter {
  display: flex;
  width: 90%;
	font-size: 2rem;
  text-align: end;
  align-items: flex-end;
}

.tCaOuter .tSubtitle {
  text-align: start;
  margin-top: 0;
  padding-left: 2rem;
  flex-grow: 2;
}
.tCaOuter .taCateam {
  text-align: end;
}

#correctAns .tOptName {
  font-weight: 500;
}

/* 計算式 */
.taResultOuter {
  width: 90%;
}
.taResult {
  padding-left: 2rem;
}

.correct {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 1rem;
	width: 90%;
}

.tasAmount {
	width: 55%;
}
.tasMagnif {
	width: 25%;
}

.tasOpera {
  justify-content: flex-end;
	width: 10%;
}

.tasBoxInfo, .tatScoreInfo {
	font-size: 2rem;
  opacity: .6;
}

.tasBoxValue {
	width: 100%;
	height: 6rem;
	line-height: 6rem;
	font-size: 4rem;
	text-align: center;
	border-radius: 1rem;
}
.tasVal .tasBoxValue {
  background: rgba(0, 0, 0, .05);
}

.tasBox .tasBoxOpera {
	height: 6rem;
	text-align: center;
	font-size: 4rem;
	font-weight: 100;
}

.getScore {
	width: 90%;
  margin-top: 1rem;
}
.tascore {
	width: 90%;
  margin-top: 2rem;
}
.getScore .tasBoxValue {
  background: rgba(0, 0, 0, .05);
	font-size: 6rem;
	line-height: 8rem;
}
.tatScoreVal {
  font-weight: 500;
	font-size: 9rem;
	line-height: 10rem;
	height: 10rem;
}
.getScore .tasBoxValue, .tatScoreVal {
	width: 100%;
	height: 8rem;
	text-align: center;
}

.resultview .tqInfo {
  margin-top: 2rem;
  font-size: 2.5rem;
	text-align: center;
}

.resultview .taRank {
  width: 90%;
  margin-top: 2rem;
  margin-bottom: 6rem;
  font-size: 2rem;
	text-align: right;
  opacity: .6;
}



/* 最終結果 */



.finalview {
  display: none;
}


.finalview .fPodiumTitle {
  margin: 6rem 0;
	width: 100%;
}
.finalview .fTitle {
	font-size: 6rem;
	font-weight: 600;
}
.finalview .fSubTitle {
	font-size: 2rem;
  opacity: .6;
}

/* 表彰台 */
.finalview .fPodium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
	width: 100%;
	height: 32rem;
}

.fPodium .fpSingle {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
	width: 33%;
}

.fPodium .fpSt {
	width: 34%;
	height: 70%;
	background: rgba(127, 127, 127, .05);
	box-shadow: 0 32px 32px rgba(0,0,0,0.3);
}
.fPodium .fpNd {
	height: 55%;
	background: rgba(127, 127, 127, .1);
}
.fPodium .fpRd {
	height: 40%;
	background: rgba(127, 127, 127, .15);
}

.fpSingle .fpTeamname {
	position: absolute;
}
.fpSt .fpTeamname {
	top: -13rem;
	font-size: 9rem;
}
.fpNd .fpTeamname, .fpRd .fpTeamname {
	top: -10rem;
	font-size: 7rem;
}

.fpNd span, .fpRd span {
  opacity: .8;
}

.fpSingle .fpPlace {
	margin-top: 2rem;
	font-size: 3rem;
	line-height: 4rem;
	width: 9rem;
	text-align: center;
	border-radius: 2rem;
}
.fpSt .fpPlace {
	background-image: linear-gradient(-15deg, #ffd261 50%, #ffe6a6 50%);
	box-shadow: 0 8px 24px rgb(255, 238, 194);
}
.fpNd .fpPlace {
	background-image: linear-gradient(-15deg, #c7c7c7 50%, #e4e0e0 50%);
	box-shadow: 0 8px 24px rgb(228, 224, 224);
}
.fpRd .fpPlace {
	background-image: linear-gradient(-15deg, #ffa97e 50%, #ffc5a8 50%);
	box-shadow: 0 8px 24px rgb(255, 213, 191);
}

.fpSingle .fpScore {
	margin-top: .75rem;
	font-size: 3.5rem;
}

/* 自チームの順位 */
.finalview .fFinalScore {
	position: relative;
	height: 25%;
	background: white;
}

.fFinalScore .tRank {
	font-size: 3rem;
}
.fFinalScore .tRankBig {
	margin: 0 1rem;
	font-size: 6rem;
	line-height: 6rem;
}

.fFinalScore .tScoreInfo {
	font-size: 2rem;
}
.fFinalScore .tScore {
	font-size: 9rem;
	font-weight: 400;
	line-height: 8rem;
	padding: 1rem .5rem;
	border-radius: 2rem;
}

/* Thank You For Playing */
.fTotalScore .tyfp {
	height: 100%;
  padding-top: 2rem;
}

.tyLogo {
	width: 80%;
	max-height: 50%;
}
.tySpan {
	margin-top: 1.5rem;
	font-size: 2rem;
}

.finalview .copyright {
  margin-bottom: 3rem;
}